// Sidebar
$theme-dark-yellow: #F7B32B;
$theme-medium-yellow: rgb(252, 238, 93);
$theme-light-yellow: #FCF6B1;
$theme-light-pink: #FAA275;
$theme-bright-pink: #C5283D;
$theme-darkgray: rgb(30,30,30);

// Map
$background-navigation-vector: rgba(182, 222, 255, 1);
$background-darkgray-vector: rgba(34, 35, 38, 1);

// General
$transparent-background: rgba(0, 0, 0, 0);
$shadow-background: rgba(0, 0, 0, 0.25);
$lightgray-border: #aaa;
$error-red: #B91913;
